{% extends "home/base.html" %}
{% block content %}
<div class="container mt-5">

    <h2>Editar Categoría</h2>

    <form method="POST">
        {% csrf_token %}

        <div class="mb-3">
            <label>Nombre</label>
            <input type="text" name="nombre" class="form-control" value="{{ categoria.nombre }}" required>
        </div>

        <div class="mb-3">
            <label>Descripción</label>
            <textarea name="descripcion" class="form-control">{{ categoria.descripcion }}</textarea>
        </div>

        <button class="btn btn-primary">Actualizar</button>
        <a href="{% url 'listar_categorias' %}" class="btn btn-secondary">Volver</a>
    </form>

</div>
{% endblock %}
